<div class="sidenav-content">
  <h2 class="sidenav-header">Brands</h2>
  <button mat-flat-button color="primary" class="add-brand-button" (click)="toggleForm()">
    <mat-icon>add</mat-icon>
    New Brand
  </button>
  <div *ngIf="showForm" class="brand-form">
    <mat-form-field appearance="fill">
      <mat-label>Brand Name</mat-label>
      <input matInput [(ngModel)]="newBrandName">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="submitBrand()">Submit</button>
  </div>
  <mat-nav-list>
    <a mat-list-item
      *ngFor="let brand of brands"
      [activated]="brand.id === selectedBrandId"
      (click)="selectBrand(brand)">
      <mat-icon matListItemIcon>business</mat-icon>
      <span matListItemTitle>{{ brand.name }}</span>
    </a>
  </mat-nav-list>
</div>
