<div class="sidenav-container">
  <div class="sidenav-inner">
    <div class="sidenav-header">
      <div class="sidenav-title">Content Templates</div>
      <button mat-icon-button title="Add Template" (click)="onAddTemplate()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let template of contentTemplates" (click)="onSelect(template)" [class.selected]="template === selectedTemplate">
        <mat-icon matListItemIcon>description</mat-icon>
        <span matLine>{{ template.name || 'Untitled Template' }}</span>
      </a>
      <div *ngIf="!contentTemplates.length" class="no-templates">No templates found for this brand.</div>
    </mat-nav-list>
  </div>
</div>
