<div>
  <h4>Images Template</h4>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Number of Images</mat-label>
    <input matInput type="number" [(ngModel)]="imagesTemplate.numImages" (ngModelChange)="imagesTemplateChange.emit(imagesTemplate)" />
  </mat-form-field>

  <!-- Ensure imageTemplates array matches numImages -->
  <ng-container *ngIf="imagesTemplate">
    <ng-container *ngFor="let i of [].constructor(imagesTemplate.numImages); let idx = index">
      <ng-container *ngIf="imagesTemplate.imageTemplates && imagesTemplate.imageTemplates[idx]">
        <mat-card class="image-template-card">
          <h5>Image {{idx + 1}}</h5>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Aspect Ratio</mat-label>
            <mat-select [(ngModel)]="imagesTemplate.imageTemplates[idx].aspectRatio" (ngModelChange)="updateImageTemplate(idx, { aspectRatio: $event })">
              <mat-option value="square">Square</mat-option>
              <mat-option value="portrait">Portrait</mat-option>
              <mat-option value="landscape">Landscape</mat-option>
              <mat-option value="story">Story</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Media Type</mat-label>
            <mat-select [(ngModel)]="imagesTemplate.imageTemplates[idx].mediaType" (ngModelChange)="updateImageTemplate(idx, { mediaType: $event })">
              <mat-option value="color">Color</mat-option>
              <mat-option value="set">Set</mat-option>
              <mat-option value="uploaded">Uploaded</mat-option>
              <mat-option value="online">Online</mat-option>
            </mat-select>
          </mat-form-field>
          <ng-container *ngIf="imagesTemplate.imageTemplates[idx].mediaType === 'set'">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Set URL</mat-label>
              <input matInput [(ngModel)]="imagesTemplate.imageTemplates[idx].setUrl" (ngModelChange)="updateImageTemplate(idx, { setUrl: $event })" />
            </mat-form-field>
          </ng-container>
          <app-content-template-visual-style-form
            [visualStyle]="imagesTemplate.imageTemplates[idx].visualStyleObj?.themes?.[0]"
            (visualStyleChange)="updateImageTemplate(idx, { visualStyleObj: { themes: [$event] } })">
          </app-content-template-visual-style-form>
        </mat-card>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
