<div class="template-info-form-outer">
  <div [formGroup]="formGroup" class="template-info-form">
    <div class="form-section">
      <div class="form-section-title">Template Info</div>
      <div class="row-fields">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required />
          <mat-error *ngIf="formGroup.get('name')?.hasError('required')">Name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" />
        </mat-form-field>
      </div>
      <div class="form-row">
        <label class="form-label">Content Type:</label>
        <mat-radio-group formControlName="contentType" class="content-type-radio-group">
          <mat-radio-button value="text">Text</mat-radio-button>
          <mat-radio-button value="images">Images</mat-radio-button>
          <mat-radio-button value="video">Video</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="form-row">
        <label class="form-label">Social Accounts:</label>
        <div class="social-checkbox-group">
          <mat-checkbox formControlName="instagram">Instagram</mat-checkbox>
          <mat-checkbox formControlName="facebook">Facebook</mat-checkbox>
          <mat-checkbox formControlName="twitter">Twitter</mat-checkbox>
          <mat-checkbox formControlName="youtube">YouTube</mat-checkbox>
          <mat-checkbox formControlName="tiktok">TikTok</mat-checkbox>
        </div>
      </div>
    </div>
    <!-- No actions here, handled by parent -->
  </div>
</div>
