<div [formGroup]="formGroup" class="content-item-form" [class.disabled]="disabled" [ngStyle]="disabled ? {'pointer-events': 'none', 'opacity': 0.5} : {}">
  <ng-container [ngSwitch]="contentType">
    <ng-container *ngSwitchCase="'images'">
      <!-- ImagesTemplate: dynamic FormArray for imageTemplates -->
      <div class="form-section">
        <label>Images</label>
        <div formArrayName="imageTemplates">
          <div *ngFor="let img of imageTemplates?.controls; let i = index" [formGroupName]="i" class="multi-image-row">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Media Type</mat-label>
              <mat-select formControlName="mediaType" [disabled]="disabled">
                <mat-option value="color">Color</mat-option>
                <mat-option value="set">Set</mat-option>
                <mat-option value="uploaded">Uploaded</mat-option>
                <mat-option value="online">Online</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Image URL</mat-label>
              <input matInput formControlName="setUrl" [disabled]="disabled || img.get('mediaType')?.value !== 'set'" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Aspect Ratio</mat-label>
              <input matInput formControlName="aspectRatio" [disabled]="disabled" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Format</mat-label>
              <input matInput formControlName="format" [disabled]="disabled" />
            </mat-form-field>
            <button mat-icon-button color="warn" type="button" (click)="removeImageTemplate(i)" title="Remove Image" [disabled]="disabled">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <button mat-stroked-button type="button" (click)="addImageTemplate()" [disabled]="disabled">
          <mat-icon>add</mat-icon> Add Image
        </button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'video'">
      <!-- VideoTemplate fields -->
      <div class="form-section">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Video URL</mat-label>
          <input matInput formControlName="setUrl" [disabled]="disabled" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Format</mat-label>
          <input matInput formControlName="format" [disabled]="disabled" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Aspect Ratio</mat-label>
          <input matInput formControlName="aspectRatio" [disabled]="disabled" />
        </mat-form-field>
        <!-- Add more video fields as needed -->
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'text'">
      <!-- Text: just a value field -->
      <div class="form-section">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Text Value</mat-label>
          <input matInput formControlName="value" [disabled]="disabled" />
        </mat-form-field>
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div class="form-section info">No additional content item fields required.</div>
    </ng-container>
  </ng-container>
</div>
