<div [formGroup]="formGroup" class="content-item-form" [class.disabled]="disabled" [ngStyle]="disabled ? {'pointer-events': 'none', 'opacity': 0.5} : {}">
  <ng-container [ngSwitch]="contentType">
    <ng-container *ngSwitchCase="'image'">
      <!-- Image form fields -->
      <div class="form-section">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Media Type</mat-label>
          <mat-select formControlName="mediaType" [disabled]="disabled">
            <mat-option value="color">Color</mat-option>
            <mat-option value="set">Set</mat-option>
            <mat-option value="uploaded">Uploaded</mat-option>
            <mat-option value="online">Online</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Image URL</mat-label>
          <input matInput formControlName="setUrl" [disabled]="disabled || formGroup.get('mediaType')?.value !== 'set'" />
        </mat-form-field>
        <div *ngIf="dimensionsGroup as dims" [formGroup]="dims">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Aspect Ratio</mat-label>
            <input matInput formControlName="aspectRatio" [disabled]="disabled" />
          </mat-form-field>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'video'">
      <!-- Video form fields -->
      <div class="form-section">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Video URL</mat-label>
          <input matInput formControlName="setUrl" [disabled]="disabled" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Resolution</mat-label>
          <input matInput formControlName="resolution" [disabled]="disabled" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Format</mat-label>
          <input matInput formControlName="format" [disabled]="disabled" />
        </mat-form-field>
        <!-- Optional: Visual Style and Dimensions -->
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Visual Style</mat-label>
          <input matInput formControlName="visualStyle" [disabled]="disabled" />
        </mat-form-field>
        <div *ngIf="dimensionsGroup as dims" [formGroup]="dims">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Width</mat-label>
            <input matInput type="number" formControlName="width" [disabled]="disabled" />
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Height</mat-label>
            <input matInput type="number" formControlName="height" [disabled]="disabled" />
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Aspect Ratio</mat-label>
            <input matInput formControlName="aspectRatio" [disabled]="disabled" />
          </mat-form-field>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'multi-image'">
      <!-- Multi-Image form fields -->
      <div class="form-section">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Min Images</mat-label>
          <input matInput type="number" formControlName="minImages" [disabled]="disabled" min="1" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Max Images</mat-label>
          <input matInput type="number" formControlName="maxImages" [disabled]="disabled" min="1" />
        </mat-form-field>
        <label>Images</label>
        <div formArrayName="images">
          <div *ngFor="let img of images?.controls; let i = index" [formGroupName]="i" class="multi-image-row">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Media Type</mat-label>
              <mat-select formControlName="mediaType" [disabled]="disabled">
                <mat-option value="color">Color</mat-option>
                <mat-option value="set">Set</mat-option>
                <mat-option value="uploaded">Uploaded</mat-option>
                <mat-option value="online">Online</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Image URL</mat-label>
              <input matInput formControlName="setUrl" [disabled]="disabled || img.get('mediaType')?.value !== 'set'" />
            </mat-form-field>
            <div *ngIf="dimensionsGroupFor(img) as dims" [formGroup]="dims">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>Aspect Ratio</mat-label>
                <input matInput formControlName="aspectRatio" [disabled]="disabled" />
              </mat-form-field>
            </div>
            <button mat-icon-button color="warn" type="button" (click)="removeImage(i)" title="Remove Image" [disabled]="disabled">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <button mat-stroked-button type="button" (click)="addImage()" [disabled]="disabled">
          <mat-icon>add</mat-icon> Add Image
        </button>
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <!-- No form for text -->
      <div class="form-section info">No additional content item fields required for text.</div>
    </ng-container>
  </ng-container>
</div>
