<form class="schedule-form">
  <mat-form-field appearance="fill">
    <mat-label>Days of Week</mat-label>
    <mat-select [(ngModel)]="schedule.daysOfWeek" name="daysOfWeek" multiple>
      <mat-option *ngFor="let day of daysOfWeekOptions" [value]="day.value">{{ day.label }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Time Slots</mat-label>
    <mat-select [(ngModel)]="schedule.timeSlots" name="timeSlots" multiple>
      <mat-option *ngFor="let slot of timeSlotOptions" [value]="slot.value">{{ slot.label }}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
